@use '../utils/mixins' as *;

.contact {
  @include grid;

  margin-bottom: 96px;

  &__form {
    grid-column: 1 / 3;

    @include for-tablet {
      grid-column: 1 / 4;
    }

    @include for-desktop {
      grid-column: 1 / 6;
    }
  }

  &__address {
    grid-column: 1 / 3;

    @include for-tablet {
      grid-column: 4 / 7;
    }

    @include for-desktop {
      grid-column: 8 / 11;
    }
  }
}
