@use '../utils/mixins' as *;

.section {
  &--1 {
    padding-top: 64px;

    @include for-tablet {
      padding-top: 120px;
    }

    @include for-desktop {
      padding-top: 120px;
    }
  }

  &--2 {
    padding-top: 96px;

    @include for-tablet {
      padding-top: 120px;
    }

    @include for-desktop {
      padding-top: 120px;
    }
  }

  &--3 {
    padding-top: 96px;

    @include for-tablet {
      padding-top: 120px;
    }

    @include for-desktop {
      padding-top: 120px;
    }
  }

  &--4 {
    padding-top: 96px;

    @include for-tablet {
      padding-top: 120px;
    }

    @include for-desktop {
      padding-top: 120px;
    }
  }
}
